<%inherit file="/sequence/base.html" />
<%namespace file="/components/tw_bootstrap.html" name="boot" import="*" />
<%namespace file="/components/autocomplete.html" name="auto" import="*" />
<%namespace file="/sequence/components.html" name="comp" import="*" />

<%def name="css()">
	${parent.css()}
	<style type="text/css">
		#content {
			position: relative;
		}

		#content .condensed-table {
			margin-top: 15px;
		}

		#content .condensed-table th {
			background-color: #eee;
		}

		th.assay_type, td.assay_type {
			white-space: nowrap;
		}

		#assay_table {
			font-size: 12px;
		}
	</style>
</%def>

<%def name="pagetitle()">Assays Approved for Release</%def>
<%def name="explanation()">
<p>The list below are assays approved by the Applications team for release
to field service agents and field application specialists.  If an assay is not on this list, please
do not disseminate it to field personnel, and especially not to customers.</p></%def>

${comp.assay_list(c.groups)}