<%inherit file="/plate/base.html"/>

<%def name="pagetitle()">2D Cluster: Time Animation</%def>
<%def name="selected_page()">mipcnv</%def>
<%def name="explanation()">
<p>Below is a real-time animation of where droplets are measured in VIC-FAM space.  You will need a modern browser (IE9, Firefox, Safari, Chrome) to view this animation.</p>
</%def>

<%def name="js()">
${parent.js()}
<script type="text/javascript" src="${url('/js/processing-1.3.5.min.js')}"></script>
</%def>

<canvas id="canvas" width="600" height="400"></canvas>

<%def name="pagescript()">
${parent.pagescript()}
<script type="text/javascript">
	FVAnim = function(w, h) {
		this.w = w;
		this.h = h;
		this.minF = -2000;
		this.maxF = 32000;
		this.minV = -2000;
		this.maxV = 16000;
		this.sampleRate = 100000.0;
	}
	FVAnim.prototype.fxform = function(fam) {
		return this.h-(((fam-this.minF)/(this.maxF-this.minF))*this.h);
	}
	FVAnim.prototype.vxform = function(vic) {
		return ((vic-this.minV)/(this.maxV-this.minV))*this.w;
	}
	FVAnim.prototype.xformTArray = function(famvic) {
		var pointArr = [];
		for(var i=0;i<famvic.length;i++) {
			pointArr.push([famvic[i][0],this.vxform(famvic[i][1]), this.fxform(famvic[i][2])]);
		}
		return pointArr;
	}
	FVAnim.prototype.sketch = function(points) {
		this.points = this.xformTArray(points);
		this.maxTime = this.points[this.points.length-1][0]
		var self = this;
		return function(pg) {
			pg.setup = function() {
				self.sample = 0;
				self.idx = 0;
				pg.size(self.w,self.h);
				pg.background(100);
				pg.stroke(255);
				pg.fill(100)
				pg.rect(10,10,self.w-20,20);
				pg.line(0,self.fxform(0),self.w,self.fxform(0));
				pg.line(self.vxform(0),0,self.vxform(0),self.h);
				pg.frameRate(30);

				pg.colorMode(pg.HSB, self.maxTime, 100, 100)
			}
			pg.draw = function() {
				var old = self.sample;
				self.sample += self.sampleRate/30;
				if(self.sample >= self.maxTime) {
					return;
				}
				pg.stroke(0, 0, 100)
				pg.fill(0, 0, 100)
				pg.rect(10+(old*(self.w-20))/(1.0*self.maxTime), 10, self.sampleRate/(30*self.maxTime), 20);
				for(var i=self.idx;i<self.points.length;i++) {
					if(self.points[i][0] < self.sample) {
						pg.stroke(self.points[i][0], 100, 100)
						pg.fill(self.points[i][0], 100, 100)
						pg.ellipse(self.points[i][1],self.points[i][2],1,1);
					}
					else {
						self.idx = i;
						break;
					}
				}
			}
		}
	}

	var points = [
	% for t, vic, fam in c.tvf:
		[${t},${vic},${fam}],
	% endfor
	[2600000, 40000, 40000]
	];
	var anim = new FVAnim(600,400);
	var p2d = new Processing($('#canvas')[0], anim.sketch(points));
</script>
</%def>