<%inherit file="/base/index.html"/>
<%namespace file="/components/tw_bootstrap.html" name="boot" import="*" />

<%def name="title()">${parent.title()} >> ${self.pagetitle()}</%def>
<%def name="css()">
    ${parent.css()}
    ${boot.css()}
    <style type="text/css" media="screen">
        #subnav nav.category, li#subnav_category {
            color: green;
            list-style: disc outside;
        }
        
        #subnav nav.plates li#subnav_category a {
            font-weight: bold;
        }

        .actions .btn {
            margin-right: 10px;
        }
    </style>
</%def>
<%def name="contentclass()">grid_13 omega tw_bootstrap</%def>
<%def name="bodyclass()">trends</%def>
<%def name="subnav_title()">Trend Links</%def>
<%def name="subnav()">
    <ul>
        <li id="subnav_well_tag"><a href="${url(controller='qc_chart', action='category')}">Control Charts</a></li>
    </ul>
</%def>

<%def name="relatednav()">
    <ul>
        <li><a href="${url(controller='plate', action='list')}">Plate List</a></li>
        <li><a href="${url(controller='plate', action='search')}">Plate Search</a></li>
    </ul>
</%def>

${next.body()}
<div class="pagefooter">
${self.footer()}
</div>

<%def name="footer()"></%def>
