<%inherit file="/trend/select.html" />
<%namespace file="/components/tw_bootstrap.html" name="boot" import="*" />

<%def name="pagetitle()">Basic Trends: By Category</%def>
<%def name="explanation()">
    <p>Select a metric and from the filter categories below.  Running this query may take a little bit of time.</p>
</%def>

<%def name="category_content()">
<form action="${url(controller='trend', action='category_trend')}" method="post" id="filter_form">
    ${boot.group_select('metric', c.metric_field, label='Metric', required=True, klass="span6")}
    ${boot.select('reader_category', c.reader_category_field, label='Reader Type', klass="span6")}
    ${boot.select('sample_category', c.sample_category_field, label='Sample', klass="span6")}
    ${boot.select('assay_category', c.assay_category_field, label='Assay', klass="span6")}
    ${boot.select('channel_num', c.channel_field, label='Channel', klass="span2")}
    ${boot.text('start_date', label="After Date", autocomplete='off', klass="span4 datepicker", id="start_date")}
    ${boot.text('end_date', label="Before Date", autocomplete='off', klass="span4 datepicker", id="end_date")}
    ${boot.checkbox('group_by_plate', 'True', label='Average By Plate', klass="span1")}
    <!--${boot.multi_select('exclude', c.exclusion_field, label='Exclude', help_block='Use the CTRL key to select multiple wells to exclude.', klass="span6")}-->
    <div class="clearfix">
        <label for="outlier_operator">Exclude Outliers:</label>
        <div class="input">
            ${boot.select('outlier_operator', c.outlier_operator_field, klass="span2", inline=True)}
            ${boot.text('outlier_value', autocomplete='off', klass="span4", inline=True)}
        </div>
    </div>
    <div class="actions">
        ${boot.submit('Show Chart')}
    </div>
</form>
</%def>