<%inherit file="/plate/base.html"/>
<%namespace file="/components/tw_bootstrap.html" name="boot" import="*" />

<%def name="pagetitle()">Plate Named!</%def>
<%def name="selected_page()">nameplate</%def>
<%def name="css()">
${parent.css()}
${boot.css()}
</%def>

<%def name="contentclass()">omega grid_13 tw_bootstrap</%def>

<p>Your plate's name is:</p>
<h2>${c.prefix}</h2>
<p>You can either copy and paste the name into QuantaSoft when you run your plate, or you
   can run QuantaSoft from a template (.qlt), using one of the actions below. <strong>What would you like to do next?</strong></p>
<div class="actions">
    <ul>
        <li><a href="${url(controller='template', action='design', plate_template_id=c.plate_template_id)}">Design a New Template</a></li>
        <li><a href="${url(controller='template', action='validation', plate_template_id=c.plate_template_id)}">Download a Validation Template</a></li>
        <li><a href="${url(controller='template', action='upload', plate_template_id=c.plate_template_id)}">Create a QLT From An Existing File</a></li>
    </ul>
</div>
<h3><a href="${url(controller='plate', action='name')}">&lt;&lt; Name Another Plate</a></h3>