<%inherit file="/plate/base.html" />

<%def name="pagetitle()">QX200 validation Machines</%def>
<%def name="explanation()">
    <p>Here is the list of qx200 ep2 machines used for validation.  Clicking on a link will take you to the list of plates recorded from that site.</p>
</%def>

<h3>Labs</h3>
<ul>
    <li><a href="${url(controller='plate', action='qx200', id='p39001')}">DR 39001</a></li>
    <li><a href="${url(controller='plate', action='qx200', id='p39002')}">DR 39002</a></li>
    <li><a href="${url(controller='plate', action='qx200', id='p39003')}">DR 39003</a></li>
    <li><a href="${url(controller='plate', action='qx200', id='p39004')}">DR 39004</a></li>
    <li><a href="${url(controller='plate', action='qx200', id='p39005')}">DR 39005</a></li>
    <li><a href="${url(controller='plate', action='qx200', id='p39006')}">DR 39006</a></li>
    <li><a href="${url(controller='plate', action='qx200', id='p39007')}">DR 39007</a></li>
    <li><a href="${url(controller='plate', action='qx200', id='p39008')}">DR 39008</a></li>
</ul>
