<%inherit file="/product/base.html"/>

<%def name="pagetitle()">Metric Wells: ${c.name}, Gating</%def>
<%def name="selected_page()">metrics</%def>

<%include file="/metrics/nav_back.html" />
<%include file="/metrics/nav_snippet.html" />
<%include file="/metrics/nav_filter.html" />
<%def name="explanation()">
	<p>* Negative rain is the total rain if no threshold is drawn.</p>
</%def>
<table class="datagrid" style="font-size: 11px;">
	<thead>
		<tr>
			<th>Date</th>
			<th>Plate Type</th>
			<th>Well Name</th>
			<th>#Events Accepted</th>
			<th>Threshold</th>
			<th>% Positive Rain</th>
			<th>% Middle Rain</th>
			<th>% Negative Rain*</th>
			<th>Mean Positive Amplitude</th>
			<th>Mean Negative Amplitude</th>
			<th>Gap Raindrops</th>
			<th>Droplet Reader</th>
			<th>Sample Name</th>
			<th>Bag#</th>
			<th>Consumable</th>
			<th>Droplet Generator</th>
			<th>Plate</th>
			<th>Well</th>
		</tr>
	</thead>
	<tbody>
	% for idx, wm in enumerate(c.well_metrics):
		<tr class="${idx % 2 and 'odd' or 'even'}">
			<td>${h.ymd(wm.well.host_datetime)}</td>
			<td>${wm.well.plate.plate.plate_type.name if wm.well.plate.plate.plate_type else ''}</td>
			<td>${wm.well.well_name}</td>
			<td>${wm.accepted_event_count}</td>
			<td>${h.sig0(wm.well_channel_metrics[c.channel_num].threshold)}</td>
			<td>${h.sig2(wm.well_channel_metrics[c.channel_num].rain_p_plus_pct) if wm.well_channel_metrics[c.channel_num].rain_p_plus_pct is not None else 'N/A'}</td>
			<td>${h.sig2(wm.well_channel_metrics[c.channel_num].rain_p_pct) if wm.well_channel_metrics[c.channel_num].rain_p_pct is not None else 'N/A'}</td>
			<td>${h.sig2(wm.well_channel_metrics[c.channel_num].rain_p_minus_pct) if wm.well_channel_metrics[c.channel_num].rain_p_minus_pct is not None else 'N/A'}</td>
			<td>${h.sig0(wm.well_channel_metrics[c.channel_num].positive_mean) if wm.well_channel_metrics[c.channel_num].positive_mean is not None else 'N/A'}</td>
			<td>${h.sig0(wm.well_channel_metrics[c.channel_num].negative_mean) if wm.well_channel_metrics[c.channel_num].negative_mean is not None else 'N/A'}</td>
			<td>${wm.well_channel_metrics[c.channel_num].gap_rain_droplets}</td>
			<td>${wm.well.plate.plate.box2.name}</td>
			<td>${wm.well.sample_name}</td>
			<td>${wm.well.plate.plate.plate_setup_id or '?'}</td>
			<td>${wm.well.consumable_chip_num}-${wm.well.consumable_channel_num}</td>
			<td>${wm.well.droplet_generator.name if wm.well.droplet_generator else '?'}</td>
			<td><a href="${url(controller='plate', action='view', id=wm.well.plate.plate.id, analysis_group_id=c.analysis_group_id, reprocess_config_id=c.rp_id or '')}" title="${wm.well.plate.plate.name}">View</a></td>
			<td><a href="${url(controller='well', action='view', id=wm.well.id, analysis_group_id=c.analysis_group_id, reprocess_config_id=c.rp_id or 0)}">View</a> <a href="${url(controller='well', action='galaxy', id=wm.well.id, analysis_group_id=c.analysis_group_id, reprocess_config_id=c.rp_id or '')}">Gxy</a> <a href="${url(controller='well', action='temporal', id=wm.well.id, analysis_group_id=c.analysis_group_id, reprocess_config_id=c.rp_id or 0)}">Tmp</a></td>
		</tr>
	% endfor
	</tbody>
</table>