<%inherit file="/product/base.html"/>

<%def name="pagetitle()">Metric Wells: ${c.name}</%def>
<%def name="selected_page()">metrics</%def>

<%include file="/metrics/nav_back.html" />
<%include file="/metrics/nav_snippet.html" />
<%include file="/metrics/nav_filter.html" />
<table class="datagrid" style="font-size: 11px">
	<thead>
		<tr>
			<th>Droplet Reader</th>
			<th>Date</th>
			<th>Plate</th>
			<th>Well</th>
			<th>Plate Type</th>
			<th>Well Name</th>
			<th>#Events Accepted</th>
			<th>#Events Gated</th>
			<th>FAM Quality</th>
			<th>VIC Quality</th>
			<th>Sample Name</th>
			<th>Linkage</th>
		</tr>
	</thead>
	<tbody>
	% for idx, wm in enumerate(c.well_metrics):
		<tr class="${idx % 2 and 'odd' or 'even'}">
			<td>${wm.well.plate.plate.box2.name}</td>
			<td>${h.ymd(wm.well.host_datetime)}</td>
			<td><a href="${url(controller='plate', action='view', id=wm.well.plate.plate.id, analysis_group_id=c.analysis_group_id, reprocess_config_id=c.rp_id or '')}" title="${wm.well.plate.plate.name}">View</a></td>
			<td><a href="${url(controller='well', action='view', id=wm.well.id, analysis_group_id=c.analysis_group_id, reprocess_config_id=c.rp_id or 0)}">View</a> <a href="${url(controller='well', action='galaxy', id=wm.well.id, analysis_group_id=c.analysis_group_id, reprocess_config_id=c.rp_id or '')}">Gxy</a> <a href="${url(controller='well', action='temporal', id=wm.well.id, analysis_group_id=c.analysis_group_id, reprocess_config_id=c.rp_id or '')}">Tmp</a></td>
			<td>${wm.well.plate.plate.plate_type.name if wm.well.plate.plate.plate_type else ''}</td>
			<td>${wm.well.well_name}</td>
			<td>${wm.accepted_event_count}</td>
			<td>${wm.total_event_count-wm.accepted_event_count}</td>
			<td>${h.sig2(wm.well_channel_metrics[0].threshold_conf)}</td>
			<td>${h.sig2(wm.well_channel_metrics[1].threshold_conf)}</td>
			<td>${wm.well.sample_name}</td>
			<td>${h.sig2(wm.null_linkage)}</td>
		</tr>
	% endfor
	</tbody>
</table>