<%def name="beta_plate_links()">
<ul>
	<li><a href="${url(controller='plate', action='list_filter', plate_type_id=3)}">Singleplex</a></li>
	<li><a href="${url(controller='plate', action='list_filter', plate_type_id=4)}">Duplex</a></li>
	<li><a href="${url(controller='plate', action='list_filter', plate_type_id=1)}">CNV</a></li>
	<li><a href="${url(controller='plate', action='list_filter', plate_type_id=7)}">RED</a></li>
	<li><a href="${url(controller='plate', action='list_filter', plate_type_id=5)}">FPFN</a></li>
	<li><a href="${url(controller='plate', action='list_filter', plate_type_id=6)}">HighDNR</a></li>
	<li><a href="${url(controller='plate', action='list_filter', plate_type_id=2)}">Dye</a></li>
	<li><a href="${url(controller='plate', action='list_filter', plate_type_id=10)}">Dye (v2)</a></li>
	<li><a href="${url(controller='plate', action='list_filter', plate_type_id=12)}">Events</a></li>
	<li><a href="${url(controller='plate', action='list_filter', plate_type_id=13)}">Carryover</a></li>
	<li><a href="${url(controller='plate', action='list_filter', plate_type_id=14)}">ColorComp</a></li>
	<li><a href="${url(controller='plate', action='list_filter', plate_type_id=17)}">MFG Carryover</a></li>
	<li><a href="${url(controller='plate', action='list_filter', plate_type_id=16)}">MFG ColorComp</a></li>
</ul>
</%def>