<%inherit file="/product/base.html"/>
<%namespace file="fields.html" name="fields" import="*" />
<%namespace file="/components/autocomplete.html" name="auto" import="*" />

<%def name="css()">
	${parent.css()}
	${auto.css()}
	<style type="text/css">
		input[type=text], select {
			width: 250px;
		}

		table.gridfield {
			margin-bottom: 0;
		}

		table.gridfield td.field_col {
			padding-right: 0;
		}

		td.label {
			width: 10em;
		}
	</style>
</%def>

<%def name="js()">
	${parent.js()}

	${auto.js()}
</%def>

<%def name="pagetitle()">Enter New Batch</%def>
<%def name="selected_page()">consumable</%def>

${c.form.start_with_layout(url(controller='consumable', action='create'), method='post', attributes=dict(id='new_batch'))}
${c.form.field('lot_number', 'text',
	label='Lot Number',
	required=True,
	attributes=dict(id='lot_number')
)}
${fields.body()}
<tr class="formbutton">
	<td style="padding-top: 20px">${c.form.submit('submit', 'Enter New Batch')}
</tr>
${c.form.end_with_layout()}

<%def name="pagescript()">
	${parent.pagescript()}
	${auto.detect_autoselect('#new_batch')}
	<script type="text/javascript">
	$(function() {
		$('#manufacture_date').datepicker()
		$('#manufacture_date').change(function() {
			if(!$('#lot_number').val()) {
				$('#lot_number').val($('#manufacture_date').val())
			}
		})
	})
	</script>
</%def>