<%inherit file="/box2/list.html"/>

<%def name="pagetitle()">Box 2 Plate Results</%def>
<%def name="selected_page()">plates</%def>

<%def name="results_rows()">
% for idx, plate_tuple in enumerate(c.plates):
	<tr class="${idx % 2 and 'odd' or 'even'}">
		<td class="col_name">
			% if plate_tuple[0].plate:
				<a href="${url(controller='plate', action='view', id=plate_tuple[0].plate.id)}">${plate_tuple[0].file.dirname}/${plate_tuple[0].file.basename}</a>
			% else:
				${plate_tuple[0].file.dirname}/${plate_tuple[0].file.basename}
			% endif
		</td>
		<td class="col_time">${h.ymd(plate_tuple[0].host_datetime)}</td>
		% for i in range(1,len(plate_tuple)):
		<td class="col_val">${plate_tuple[i]}</td>
		% endfor
	</tr>
% endfor
</%def>